<section id="hero">
    <div class="wrapper">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 flex-on-wide">
                    <h1 class="title">A Future for Babies <span>and a Place for Mom</span></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>

            </div>

        </div>

    </div>
</section>
