<section id="hero">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="title">A Future for Babies <span>and a Place for Mom</span></h1>
                </div>
                <div class="col-sm-4">
                    <p>On [DATE], Connecticut Children’s Medical Center, the Jackson Laboratories and UConn Health, announced their intent to collaborate on the creation of the most advanced center for babies, and thier mothers, in New England.</p>
                </div>
            </div>
        </div>
    </div>
</section>
