<section id="the-latest" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h2>The Latest</h2>
                <ul>
                    <li><a href="http://today.uconn.edu/2017/09/latest-sports-schedules-adjusted-due-irma/">Hurricane travel concerns prompt time change for USF-UConn</a></li>
                    <li><a href="http://today.uconn.edu/2017/09/healthy-foods-really-good/">Are These ‘Healthy’ Foods Really Good for You?</a></li>
                    <li><a href="http://today.uconn.edu/2017/09/op-ed-want-job-still-education/">Op-ed: Want a Job? It’s Still About Education</a></li>
                    <li><a href="http://today.uconn.edu/2017/09/basketball-hall-fame-meet-class-2017/">Basketball Hall of Fame: Meet the Class of 2017</a></li>
                    <li><a href="http://today.uconn.edu/2017/09/one-third-parasites-may-become-extinct-lifetime/">One-third of Parasites May Become Extinct in Our Lifetime</a></li>
                </ul>
            </div>
            <div class=" col-sm-offset-1 col-sm-1">
                <span class="fa-stack user-icon">
                  <i class="fa  fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-user fa-stack-1x"></i>
                </span>
            </div>
            <div class="col-sm-5" id="get-involved">
                <h2>Get Involved</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/59rCT7FD47Y"></iframe>
                </div>

            </div>
        </div>
    </div>

</section>
