<section id="the-latest" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h2>The Latest</h2>
                <ul>
                    <li><a href="#">A Title for a Cool Artivle</a></li>
                    <li><a href="#">A Title for a Cool Artivle</a></li>
                    <li><a href="#">A Title for a Cool Artivle</a></li>
                    <li><a href="#">A Title for a Cool Artivle</a></li>
                    <li><a href="#">A Title for a Cool Artivle</a></li>
                    <li><a href="#">A Title for a Cool Artivle</a></li>
                    <li><a href="#">A Title for a Cool Artivle</a></li>
                </ul>

            </div>
            <div class=" col-sm-offset-1 col-sm-1">
                <i class="glyphicon glyphicon-user"></i>
            </div>
            <div class="col-sm-5" id="get-involved">
                <h2>Get Involved</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/59rCT7FD47Y"></iframe>
                </div>

            </div>
        </div>
    </div>

</section>
