<section class="container section-padding" id="in-their-words">
    <div class="row">
        <h2 class="col-sm-12">In Their Words</h2>

        <article class="col-sm-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/59rCT7FD47Y"></iframe>
            </div>
            <h3>Jim Moore</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <blockquote cite="">
                "Looking for better treatments and cures for the type of things that bring patients to hospitals."
            </blockquote>
        </article>

        <article class="col-sm-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/59rCT7FD47Y"></iframe>
            </div>
            <h3>Dr. Molly Brewer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <blockquote cite="">
                "Looking for better treatments and cures for the type of things that bring patients to hospitals."
            </blockquote>
        </article>


        <article class="col-sm-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/59rCT7FD47Y"></iframe>
            </div>
            <h3>Jackson labs</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <blockquote cite="">
                "Looking for better treatments and cures for the type of things that bring patients to hospitals."
            </blockquote>
        </article>


        <article class="col-sm-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/59rCT7FD47Y"></iframe>
            </div>
            <h3>Dr. Christine Finck</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <blockquote cite="">
                "Looking for better treatments and cures for the type of things that bring patients to hospitals."
            </blockquote>
        </article>

    </div>
</section>
