<nav id="primary" class="navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li><a href="#">Back to Top</a></li>
                    <li><a href="#in-their-words">In Their Words</a></li>
                    <li><a href="#the-latest">The Latest</a></li>
                    <li><a href="#get-involved">Get Involved</a></li>
                    <li><a href="#partners">Partners</a></li>
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
