<nav id="primary" class="navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li><a href="#">Back to Top</a></li>
                    <li><a href="#">In Their Words</a></li>
                    <li><a href="#">The Latest</a></li>
                    <li><a href="#">Get Involved</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
